.nelson {
    font-weight: bold;
}

.nelson .nel-p {
    font-weight: normal;
}

.nelson .nel-p #readmore,#shrink {
    color: #C7162D;
}

.nelson h4 {
    color: #444;
}

.programmes {
    padding-top: 50px;
    font-weight: bold;
}
.area-padding {
    margin: 30px 0px 0px 0px;
}

.programme-image{
    border-radius: 10px 10px 0 0;
}

.details {
    padding: 20px 15px 20px;
}

.details p {
    color: black;
}

.details_ {
    padding: 20px 15px 20px;
}

.details h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.work-with-us {
    padding-top: 70px;
}

@media(max-width: 767px) {
    .work-with-us h3 {
        font-size: 30px !important;
    }

    .btn-get-involved {
        text-align: center;
        align-items: center;
        margin-top: 30px;
    }
}


.btn-get-involved {
    border: 2px solid white;
    color: #fff;
    margin-right: 20px;
    letter-spacing: 0.010em;
    font-size: 22px;
    padding: 5px 20px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .imgs {
      width: 80% !important;
      height: auto;
      margin-left: 60px;
  }

  @media(max-width: 767px) {
      #res {
          font-size: 24px;
      }

      iframe {
          width: 250;
          height: 100;
      }
  }

  .summit li{
    font-weight: normal;
    margin-bottom:10px;  
    margin-left: 10px;
  }

  .socials div {
    float: left;
    margin: 10px;
  }

  .socials h4 {
      margin-left: 15px;
  }

  .icon-img {
      width: 100px !important;
      height: auto;
      text-align: center!important;
  }

  .ba {
      text-align: center;
  }

  .as {
      display: inline-block;
      margin-left: 50px;
  }

  .as_ {
    display: inline-block;
    margin-left: 35px;
}

.as__ {
    display: inline-block;
    margin-left: 175px;
}

@media(max-width: 767px) {
    .as_ {
        margin-left: 80px;
    }

    .as__ {
        margin-left: 80px;
    }
}