.nelson {
    font-weight: bold;
}

.nelson .nel-p {
    font-weight: normal;
}

.nelson .nel-p span {
    color: #C7162D;
}

.programmes {
    padding-top: 50px;
    font-weight: bold;
}
.area-padding {
    margin: 30px 0px 0px 0px;
}

.programme-image{
    border-radius: 10px 10px 0 0;
}

.details {
    padding: 20px 15px 20px;;
}

.work-with-us {
    padding-top: 70px;
}

@media(max-width: 767px) {
    .work-with-us h3 {
        font-size: 30px !important;
    }

    .btn-get-involved {
        text-align: center;
        align-items: center;
        margin-top: 30px;
    }
}


.btn-get-involved {
    border: 2px solid white;
    color: #fff;
    margin-right: 20px;
    letter-spacing: 0.010em;
    font-size: 22px;
    padding: 5px 20px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }

  .imgs {
      width: 80% !important;
      height: auto;
  }

  @media(max-width: 767px) {
      #res {
          font-size: 24px;
      }

      iframe {
          width: 250;
          height: 100;
      }
  }

  .summit li{
    font-weight: normal;
    margin-bottom:10px;  
    margin-left: 10px;
  }